

<div>
  <br>
  <br>
  <h1>Contact us</h1>
</div>
<br>
<br>

<div class="container">

  <form action="action_page.php">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
  <br> <br>
  <!-- End of form -->
  <!-- Second card -->
  <div class="card">
    <div id="contact-us" class="contact-us-area section-padding">
      <div class="container">
        <div class="contact-us-wrapper">
          <div class="row no-gutters">
            <div class="col-lg-3 col-md-6 col-12">
              <div class="contact-us-inner">
                <div class="info-i"><span><i class="las la-map-marker"></i></span></div>
                <h5>Location</h5>
                <p>.... <br>Pretoria, South Africa</p>
                <a
                  href="https://www.google.com/maps/place/44+STANLEY/@-26.1853639,28.0167466,17z/data=!3m1!4b1!4m5!3m4!1s0x1e950c0a6ffc9379:0x3d365796c1f181b!8m2!3d-26.1853639!4d28.0189353">Find
                  us on map</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
              <div class="contact-us-inner">
                <div class="info-i"><span><i class="las la-clock"></i></span></div>
                <h5>Office Hour</h5>
                <p>Monday-Friday <br>08.00-20.00</p>
                <a href="">Get Direction</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
              <div class="contact-us-inner">
                <div class="info-i"><span><i class="las la-mobile"></i></span></div>
                <h5>Phone Number</h5>
                <p>(+1)212-946-2064 <br>(+3)112-976-2067</p>
                <a href="">Call Now</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
              <div class="contact-us-inner">
                <div class="info-i"><span><i class="las la-envelope"></i></span></div>
                <h5>E-mail Address</h5>
                <p>info@expoint.com<br>info@webmail.com</p>
                <a href="">Mail Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>